.body {
  display: flex;
  flex-direction: c;
}

.pageWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 5%;
  padding: 30px;
  background-color: #ffeef0; /* Cor de fundo rosa claro */
  border: 1px solid #e0e0e0; /* Bordas suaves */
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  width: 90vw; /* Largura um pouco maior */
  max-width: 100%; /* Largura máxima ajustada */
  box-sizing: border-box;
  overflow-y: auto;
}

.header {
  font-size: 2.2rem;
  margin-bottom: 15px;
  color: black; /* Cor rosa para o título principal */
}

.bio {
  font-size: 1.1rem; /* Tamanho de fonte ajustado */
  margin-bottom: 25px; /* Espaçamento inferior maior */
  color: #333; /* Cor do texto escuro */
  line-height: 1.7; /* Linha um pouco mais espaçada */
  max-width: 600px; /* Largura máxima ajustada para o texto */
  text-align: center; /* Alinhamento centralizado */
  padding: 0 10px; /* Espaçamento interno nas laterais */
}

.skills, .travels, .goals, .perspectives, .projects {
  width: 100%;
  max-width: 600px; /* Largura máxima ajustada */
  text-align: left;
  margin: 20px 0;
}

.skills h2, .travels h2, .goals h2, .perspectives h2, .projects h2 {
  font-size: 1.8rem; /* Tamanho de fonte ajustado */
  color: #d46d9a; /* Cor rosa para os subtítulos */
  margin-bottom: 10px; /* Espaçamento inferior para separar do conteúdo */
}

.skills ul, .travels ul, .goals ul, .projects ul {
  list-style-type: disc;
  padding-left: 20px;
}

.skills li, .travels li, .goals li, .projects li {
  margin-bottom: 10px;
}

.perspectives p, .projects p {
  font-size: 1rem; /* Tamanho de fonte ajustado */
  line-height: 1.7; /* Linha mais espaçada para melhor leitura */
}

.footer {
  background-color: #ffffff; /* Cor de fundo branca para o rodapé */
  color: #333; /* Cor do texto escuro */
  text-align: center;
  padding: 15px; /* Mais espaço interno */
  border-top: 1px solid #e0e0e0; /* Bordas suaves no topo */
}
